html {
	font-size: 62.5%;
	height: 100%;
}
body {
	padding: 0; 
  	margin:0;
  	height: 100%;
}
header {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4.9rem;
    line-height: 4.9rem;
    background-color:#5fc0cd;
}
header p {
	margin:0 3.7rem 0 0;
	color:#ffffff;
	font-size: 2.25rem;
    font-family:STHeitiSC;
	text-align: center;
}
header img {
	float:left;
    width: 1.25rem;
    height: 2.19rem;
    margin: 1.2rem 0 0 1.8rem;
    }
main {
	position: absolute;
    top: 4.9rem;
    bottom: 8.6rem;
    left: 0;
    right: 0;
    background-color:#ffffff;
    font-family:STHeitiSC;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index:1;
}
.nav {
	position: relative;
    height: 20rem;
    width: 100%;
    background: url(./images/background.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;
}
.portrait {
	position: absolute;
    left: 1.8rem;
    top: 4.7rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}
.portrait img {width: 100%}
.profile {
	position: relative;
	top: 50%;
    transform: translate(0,-50%); 
    margin-left: 14.88rem;
    
}
.profile span {font-size: 1.75rem;}
.name {
	font-size: 2.25rem;
	margin:0;
}
.loc {
	margin-top: 1.6rem;
    padding-left: 2.3rem;
    background: url(./images/location.png) no-repeat center left;
    background-size:1.13rem 100%;
    font-size: 1.5rem;
}
.form {font-size: 2rem;}
.form-title {
    height: 6rem;
    line-height: 6rem;
    border-bottom: 0.06rem solid #e1e5e7;
    padding-left: 1.9rem;
}
.form-title strong {
    padding-left: 1.69rem;
    border-left: 0.19rem solid #5fc0cd;
    ;
}
.list {
    padding-left: 1.9rem;
    list-style: none;
    margin:0;
}
.list li {
    position: relative;
    padding:2rem 1.69rem 2rem 1.69rem;
    border-bottom: 0.06rem solid #e1e5e7;
}
.star-home {
    position: absolute;
    border-right: 0.06rem solid #e1e5e7;
    background: url(./images/star.png) no-repeat center left;
    background-size:1.44rem;
    padding:0 1.31rem 0 2.06rem;
}
.star-eat {
    margin-left: 8.3rem;
    background: url(./images/star.png) no-repeat center left;
    background-size:1.44rem;
    padding:0 1.31rem 0 2.06rem;
}
.column-left { 
    position: absolute;
    top: 50%;
    transform: translate(0,-50%); 
    border-right: 0.06rem solid #e1e5e7;
    color: #999999;
    padding-right: 1.625rem;
}
.column-right {margin-left: 11rem;}
.column-right strong {color: #e26163;}
footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2.3rem 2.5rem 2.3rem;
    
}
button {
    flex: 1;
    height: 5.25rem;
    width: 50%;
    outline: none;
}
.button-left,
.button-right {
    font-family: HiraginoSansGB;
    font-size:2.13rem;
    border: 0.125rem solid #5fc0cd;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: #ffffff;
    color: #5fc0cd;
}
.button-right {
    background-color: #5fc0cd;
    color: #ffffff;
    margin-left: 1.56rem;
}