html {
	font-size: 62.5%;
	height: 100%;
}
body {
	padding: 0; 
  	margin:0;
  	height: 100%;
}
header {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3.05rem;
    line-height: 3.05rem;
    background-color:#5fc0cd;
}
header p {
	margin:0 2rem 0 0;
	color:#ffffff;
	font-size: 1.3rem;
    font-family:STHeitiSC;
	text-align: center;
}
header img {
	float:left;
    width: 0.73rem;
    height: 1.27rem;
    margin: 0.76rem 0 0 1.27rem;
    }
main {
	position: absolute;
    top: 3.05rem;
    bottom: 4.65rem;
    left: 0;
    right: 0;
    background-color:#ffffff;
    font-family:STHeitiSC;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index:1;
}
.nav {
	position: relative;
    height: 11.85rem;
    width: 100%;
    background: url(./images/background.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;
}
.portrait {
	position: absolute;
    left: 1.09rem;
    top: 2.87rem;
    border-radius: 50%;
    width: 6.15rem;
    height: 6.15rem;
    overflow: hidden;
}
.portrait img {width: 100%}
.profile {
	position: relative;
	top: 50%;
    transform: translate(0,-50%); 
    margin-left: 8.65rem;
    
}
.profile span {font-size: 1.02rem;}
.name {
	font-size: 1.31rem;
	margin:0;
}
.loc {
	margin-top: 0.87rem;
    padding-left: 1.35rem;
    background: url(./images/location.png) no-repeat center left;
    background-size:0.65rem 100%;
    font-size: 0.87rem;
}
.form {font-size: 1.16rem;}
.form-title {
    height: 3.64rem;
    line-height: 3.64rem;
    border-bottom: 0.04rem solid #e1e5e7;
    padding-left: 1.09rem;
}
.form-title strong {
    padding-left: 1.09rem;
    border-left: 0.11rem solid #5fc0cd;
    ;
}
.list {
    padding-left: 1.09rem;
    list-style: none;
    margin:0;
}
.list li {
    position: relative;
    padding:1.27rem 1.09rem 1.27rem 1.09rem;
    border-bottom: 0.04rem solid #e1e5e7;
}
.star-home {
    position: absolute;
    border-right: 0.04rem solid #e1e5e7;
    background: url(./images/star.png) no-repeat center left;
    background-size:0.84rem;
    padding:0 0.76rem 0 1.2rem;
}
.star-eat {
    margin-left: 4.8rem;
    background: url(./images/star.png) no-repeat center left;
    background-size:0.84rem;
    padding:0 0.76rem 0 1.2rem;
}
.column-left { 
    position: absolute;
    top: 50%;
    transform: translate(0,-50%); 
    border-right: 0.04rem solid #e1e5e7;
    color: #999999;
    padding-right: 0.98rem;
}
.column-right {margin-left: 6.6rem;}
.column-right strong {color: #e26163;}
footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1.35rem 1.45rem 1.35rem;
    
}
button {
    flex: 1;
    height: 3.2rem;
    width: 50%;
    outline: none;
}
.button-left,
.button-right {
    font-family: HiraginoSansGB;
    font-size:1.24rem;
    border: 0.07rem solid #5fc0cd;
    border-radius: 0.22rem;
    font-weight: bold;
    background-color: #ffffff;
    color: #5fc0cd;
}
.button-right {
    background-color: #5fc0cd;
    color: #ffffff;
    margin-left: 0.91rem;
}